.basket{
    display: flex;
    gap: 40px;
    padding: 20px;
    width: 100%;
    max-width: max-content;
    margin: 20px 0;
}
.basket .basket_left img{
    max-width: 200px;
    aspect-ratio: 1;
}
.basket .basket_right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.basket button{
    max-width: max-content;
    padding: 10px;
    border-radius: 8px;
    background: #f0c14b;
    border: none;
    cursor: pointer;
    color: #0f1111;
}

.basket button:hover{
    opacity: 0.7;
}

.basket button:disabled{
    cursor: not-allowed;
}