body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(234, 237, 237);
  font-family: "Amazon Ember", Arial, sans-serif;
}
header{
  position: sticky;
  top: 0;
}

h2,h3, p{
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}